<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suoron.ssm.dao.mapping.TbOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.suoron.ssm.dao.pojo.TbOrderDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_date" property="goodsDate" jdbcType="DATE" />
    <result column="o_orderid" property="oOrderid" jdbcType="INTEGER" />
    <result column="goodsid" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsprice" property="goodsprice" jdbcType="DOUBLE" />
    <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR" />
    <result column="goodsnum" property="goodsnum" jdbcType="INTEGER" />
    <result column="goodspic" property="goodspic" jdbcType="VARCHAR" />
    <result column="goods_total_price" property="goodsTotalPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, goods_date, o_orderid, goodsid, goodsname, goodsprice, goods_description, goodsnum, 
    goodspic, goods_total_price
  </sql>
</mapper>